<div class="jumbotron bg-transparent text-center">
  <div class="card text-center">
    <h6 class="card-header">
      Social Login
    </h6>
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
      <p class="card-text">Sign in with</p>
    </div>
    <div class="card-block">
      <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
      <!--<button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button> -->
    </div>
      <div>
       <button (click)="goBack()">Go back</button>
    </div>
  </div> 
</div>