<div *ngIf="!checkLog()">
    <nav>
        <a routerLink="/rating" routerLinkActive="disactive"> Рейтинги</a>    
        <a routerLink="javascript:void(0);" (click)="logInto()"> Войти</a>
    </nav>    
</div>
<div *ngIf="checkLog()">        
    <nav>
        <a routerLink="/rating" routerLinkActive="disactive"> Рейтинги</a>    
        <a routerLink="javascript:void(0);" (click)="logOut()">Выйти</a>
    </nav>  
</div>

<h1>{{title}}</h1>
<br>
            <div style="text-align:center;">    
		<input [(ngModel)]="this.searchText" placeholder="Найти по названию.." style="text-align: center" type="text"/>	  
            </div>	  
	  <br>
          <table style="width:100%">
	  <thead>
		<tr>
		<th>Регистрационный номер</th>
		<th class="pointer" (click)="sort('name')">Название   <i class="fa" [ngClass]="{'fa-sort': column != 'name', 'fa-sort-asc': (column == 'name' && isDesc), 'fa-sort-desc': (column == 'name' && !isDesc) }" aria-hidden="true"> </i></th>	
		<th class="pointer" (click)="sort('creationDate')">Дата опубликования   <i class="fa" [ngClass]="{'fa-sort': column != 'creationDate', 'fa-sort-asc': (column == 'creationDate' && isDesc), 'fa-sort-desc': (column == 'creationDate' && !isDesc) }" aria-hidden="true"> </i></th>
		<th colspan="2">Действия</th>
		</tr>
	  </thead>
	  <tr *ngFor="let law of this.laws  | paginate: { itemsPerPage: 20, currentPage: page, totalItems: 30000 }">
              <td><a href = "javascript:void(0);" class="class1" (click)="lawDetail(law.registrationNumber)" style="color: green">{{law.registrationNumber}}</a></td>               
		<td>{{law.name}}</td>
		<td>{{law.creationDate}}</td>            
		<td *ngIf="checkLog()"><button class="button1" (click)="like(law)" [disabled]="checkLike(law)"><span style="font-size:40px;" class="fa fa-thumbs-up"></span></button></td>
                <td *ngIf="checkLog()"><button class="button2" (click)="dislike(law)" [disabled]="checkDislike(law)"><span  style="font-size:40px;" class="fa fa-thumbs-down"></span></button></td>
                <td *ngIf="!checkLog()"><button class="button" [disabled]="true"><span style="font-size:40px;" class="fa fa-thumbs-up"></span></button></td>
                <td *ngIf="!checkLog()"><button class="button" [disabled]="true"><span  style="font-size:40px;" class="fa fa-thumbs-down"></span></button></td>
	  </tr>
	  </table>
          <pagination-controls style="text-align: center"
                      (pageChange)="pageChanged($event)"
                      maxSize="9"
                      directionLinks="true"                      
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page">
            </pagination-controls>