.button {
    border: none;
    background: center no-repeat;
    background-size: 100%;
}

.button:disabled {
    opacity: 1;
    cursor: not-allowed;
    color: grey;
}

.button1 {
    border: none;
    background: center no-repeat;
    background-size: 100%;
}

.button1:disabled {
    opacity: 1;
    cursor: not-allowed;
    color: green;
}

.button2 {
    border: none;
    background: center no-repeat;
    background-size: 100%;  
}

.button2:disabled {
    opacity: 1;
    cursor: not-allowed;
    color: red;
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding:0px;
  width: 100%;
}

div {
    text-align: right;
    color: #4E5066;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);    
    margin-right: 10px;
}

h1 {
   text-align: center;
   color: #4E5066;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

/*** Table Styles **/

table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 400px;
  min-width: 350px;
  padding:0px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#FFF8DC;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:19px;
  font-family: "helvetica", helvetica, arial, sans-serif;
  font-weight: 100;  
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;  
}

th:first-child {
  border-top-left-radius:3px;
  max-width: 200px;  
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
  max-width: 200px;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  max-width: 400px;      
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:0px;
  text-align:center;
  vertical-align:middle;
  font-family: "helvetica", helvetica, arial, sans-serif;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

input[type=text], select { 
    text-align: center;
    width: 80%;
    padding: 0px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 18px;
}

input[type=text]:focus {
    width: 80%;
    padding: 0px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4E5066;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 18px;
}

.inline-block .input-w {
  display: block; // to stack them
  width: 100%;
}

.inline-block .label, .inline-block input {
  /* float: none; you may need this to overide previous float rules */
  display: inline-block;
  vertical-align: middle;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}