/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #F5F5F5;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
