<nav>
   <a routerLink="/rating" routerLinkActive="active">Горячее</a>
   <a routerLink="/minrate" routerLinkActive="active">Худшее</a>
   <a routerLink="/maxrate" routerLinkActive="disactive">Лучшее</a>
   <a routerLink="/" routerLinkActive="active"  style="float: right; margin-right: 15px;" > Список законопроектов</a>
</nav>
<div>
    <h1>Топ понравившихся законопроектов</h1>
</div>
<br>
<table style="width:100%">	  
    <thead>
        <tr>
            <th>Регистрационный номер</th>
            <th>Название</th>
            <th>Дата опубликования</th>            
            <th>Рейтинг</th>
        </tr>
    </thead>
    <tr *ngFor="let law of laws ">
        <td><a href = "javascript:void(0);" class="class1" (click)="lawDetail(law.registrationNumber)" style="color: green">{{law.registrationNumber}}</a></td> 
        <td>{{law.name}}</td>
        <td>{{law.creationDate}}</td>        
        <td>{{law.rate}}</td>
    </tr>
</table>
