.bg-transparent {
  background-color: transparent;
}

:host {
  height: 200%;
}

.photo {
  object-fit: contain;
}

.card {
  width: 20rem;
  margin: 0 auto;
}

div {
    text-align: right;
    color: #4E5066;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);    
    margin-right: 10px;
}

.button1 {
    border: none;
    background: center no-repeat;
    background-size: 100%;
}

.button1:disabled {
    opacity: 1;
    cursor: not-allowed;
    color: green;
}

.button2 {
    border: none;
    background: center no-repeat;
    background-size: 100%;  
}

.button2:disabled {
    opacity: 1;
    cursor: not-allowed;
    color: red;
}

h2 {
   text-align: center;
   color: #4E5066;
   font-size: 24px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

.button {
    border: none;
    background: center no-repeat;
    background-size: 100%;
}

.button:disabled {
    opacity: 1;
    cursor: not-allowed;
    color: grey;
}