<div *ngIf="!checkLog()">
    <nav>
        <a routerLink="/" routerLinkActive="active"> Список законопроектов</a>  
        <a routerLink="javascript:void(0);" (click)="logInto()"> Войти</a>
    </nav>    
</div>
<div *ngIf="checkLog()">        
    <nav>
        <a routerLink="/" routerLinkActive="active"> Список законопроектов</a>
        <a routerLink="javascript:void(0);" (click)="logOut()">Выйти</a>
    </nav>  
</div>
<h2>
    Информация о законопроекте №{{getNumber()}}
</h2>
    
    <div *ngIf="checkLaw()" style="width: 95%; margin: 0 auto;">
        <iframe [src]="getTranscript()" width=100% height=450></iframe>
    </div>    
<div *ngIf="!checkLaw()" style="text-align: center;">
    <p>Законопроект не существует</p>
</div>
    <div *ngIf="checkLog()" style="text-align: center;">
        <button class="button1" (click)="like()" [disabled]="checkLike()"><span style="font-size:40px;" class="fa fa-thumbs-up"></span></button>
        <button class="button2" (click)="dislike()" [disabled]="checkDislike()"><span style="font-size:40px;" class="fa fa-thumbs-down"></span></button>
    </div>
    <div *ngIf="!checkLog()" style="text-align: center;"> 
        <button class="button" (click)="like()" [disabled]="checkLike()"><span style="font-size:40px;" class="fa fa-thumbs-up"></span></button>
        <button class="button" (click)="dislike()" [disabled]="checkDislike()"><span style="font-size:40px;" class="fa fa-thumbs-down"></span></button>
    </div>